body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.juryroom {
  margin: 0 auto;
  max-width: 512px;
}

.juryroom .filters {
  margin-bottom: 1rem;
}

.juryroom .comments-and-form {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
}

.juryroom .comments {
  padding: 0;
  margin: 0;
  list-style: none;
}

.juryroom .comments .comment {
  display: flex;
  align-items: center;
  height: 32px;
}

.juryroom .comments .comment span {
  flex-grow: 1;
}

.juryroom .comments .comment button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.juryroom .comments .comment.checked span {
  text-decoration: line-through;
}

.juryroom .comment-form {
  margin-top: 1rem;
  display: flex;
}

.juryroom .comment-form input {
  flex-grow: 1;
}

.juryroom .login-form {
  margin-top: 2rem;
}

.juryroom .login-form label,
.juryroom .login-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.juryroom .login-form label {
  margin-bottom: 0.4rem;
}

.juryroom .login-form input {
  margin-bottom: 0.8rem;
}

.juryroom .login-form button[type="submit"] {
  float: right;
}
