body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 100%;
}

/********************************************************
App.jsx
*********************************************************/
.juryroom {
  margin: 0 auto;
  width: 100vh;
  height: 100%;
  overflow: hidden;
}

.juryroom .login-form {
  margin-top: 2rem;
}

.juryroom .comments-and-form {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  width:60vh;
  height: 90%;
  overflow: hidden;
}

.juryroom .comments-and-form .comments {
  padding: 0;
  margin: 0;
  width: 50vh;
  list-style: none;
  overflow-y: scroll;
  height: 90%;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

.juryroom .comments-and-form .comments .commentContainer{
  padding: 0;
  margin: 0;
  width: inherit;
  height: max-content;
  overflow:hidden;
  align-self:flex-end;
  flex: 100%;
  min-height: max-content;
}

.juryroom .comments-and-form .comments .comment {
  /*display: flex;*/
  margin:3px;
  align-items: start;
  align-self:flex-end;
  width:52%;
  height:fit-content;
  background:aliceblue;
  padding: 10px;
  border-radius:10px 25px 25px 10px;
  border-style:solid;
  border-width: thin;
  border-color:cadetblue;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.juryroom .comments-and-form .comments .comment.usersComment {
  width:52%;
  background:aqua;
  align-self:end;
  float:right;
  border-radius:25px 10px 10px 25px;
}


.juryroom .comments-and-form .comment-form {
  margin-top: 2rem;
  width:inherit;
  align-self:end;
  display: flex;
}

/********************************************************
Comment.jsx
*********************************************************/
.juryroom .comments-and-form .comments .comment span {
  flex-grow: 1;
}

.juryroom .comments-and-form .comments .comment button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

/********************************************************
CommentForm.jsx
*********************************************************/
.juryroom .comments-and-form .comment-form input {
  flex-grow: 1;
  width: inherit;
}

/********************************************************
LoginForm.jsx
*********************************************************/
.juryroom .login-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}

.juryroom .login-form label {
  margin-bottom: 0.4rem;
}

.juryroom .login-form button[type="submit"] {
  float: right;
}
